/* shared styles */
.title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.subtitle{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}
div{
    
}

/* THUMBNAIL STYLE */

.thumb{
    background-image: url("/images/Hero-bg.png");

   
}
.thumb-pic{
  display: flex
   align-items: center;
}
.thumb-title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
}
.thumb-subtitle{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;

}
.thumb-btn{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px 21px 24px;
    border: none;

}

/* QUESTION STYLE  */

.question{
    padding: 80px 97px;
    background-color: rgba(22, 141, 38, 0.103);
    margin: 150px ;
}
.ans{
    padding: 48px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
}
.ans-title{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;  
}
.ans-subtitle{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;
}
.ans-btn{
    
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
padding: 12px 20px 12px 20px;

}

/* ispiration style */

.ispiration{
    gap: 48px;
    padding: 0px 144px;
    margin: 150px
}
.yt{
    display: flex;
    justify-content: center;
    border-bottom: 20px;
    border-radius: 16px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    
}

/* target style */
.target{
    margin: 150px;
}
.target-content{
    display: flex;
    justify-content: center;
    gap:24px;

} 
.target1 {
    background-color:rgba(255, 76, 30, 0.05)  ;
    padding: 40px;

}
.target2 {
    background-color:rgba(0, 76, 232, 0.05)  ;
    padding: 40px;

}
.target3 {
    background-color:rgba(255, 223, 0, 0.05)  ;
    padding: 40px;

    
}

/* support styles */
.support{
    background-image: url("/images/handshake.jpg");
   padding: 64px 48px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 150px;
}
.supp-btn{
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
}
.supp-input{

padding: 19px 20px 19px 20px;
}

/* footer design */
.footer{
    margin-top: 150px;
}
.footer-content{
 background-color: rgba(102, 100, 100, 0.315);
 display: flex;
  justify-content: space-between;
  padding: 32px 150px ;
}
.footer-icons{
    list-style: none;
    display: flex;
    gap: 24px;
}
.footer-title{
    margin-top: 25px;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
text-align: center;
}